
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
/* complete */

*{
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

body{
    background: url("https://wallpapercave.com/wp/wp10142339.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playArea{
    background-color: black;
    width: 90vmin;
    height: 92vmin;
    margin-left: 25vw;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    border: 10px solid red;
    gap: 5px;
}
.scoreContainer {
    align-self: center;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
}

.score{
    text-align: center;
    justify-self: flex-start;
    color: greenyellow;
    font-size: 3rem;
}

.highScore{
    text-align: center;
    justify-self: flex-end;
    color: greenyellow;
    font-size: 5rem;
}

.snake{
    background-color: greenyellow;
}
.food{
    background-color: red;
}
.head{
    background-color: white;
}