
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* complete */

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: antiquewhite;
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playArea{
    background-color: black;
    width: 90vmin;
    height: 92vmin;
    margin-left: 25vw;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}
.scoreContainer {
    align-self: center;
    justify-self: flex-end;
    background-color: blanchedalmond;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.score{
    text-align: center;
    justify-self: flex-start;
    color: black;
    font-size: 3rem;
}

.highScore{
    text-align: center;
    justify-self: flex-end;
    color: black;
    font-size: 5rem;
}

.snake{
    background-color: greenyellow;
}
.food{
    background-color: red;
}
.head{
    background-color: yellow;
}